.header {
  background-color: #3f6c91;

  &__subtitle {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    display: flex;

    div > div {
      margin-bottom: 10px;
    }

    &_link {
      margin-left: 5px;
      color: white;
    }
  }
}
