@import '../../assets/scss/variables.scss';

.footer {
  background-color: $primary;
  padding: 10px;

  &__paragraph {
    color: $white;
    font-weight: bold;
    font-family: sans-serif;

    > a {
      color: $white;
    }
  }
}
